@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
/* FONTS */
@font-face {
  font-family: "Robot-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Robot-Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Robot-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Marck-Regular";
  src: url("./fonts/Marck_Script/MarckScript-Regular.ttf");
}
/* FONTS */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* end SCROLLBAR */

/* COMPONENTS */

.nav {
  @apply fixed text-lg max-md:text-sm font-RobotoL w-screen h-12 m-auto flex justify-between items-center px-44 max-lg:px-28 flex-row max-md:px-12 duration-500 z-50;
}

input {
  outline: none;
}
input:focus {
  outline: 2px solid skyblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::placeholder {
  font-size: 12px;
}

textarea {
  outline: none;
}
textarea:focus {
  outline: 2px solid skyblue;
}
